{% extends 'Base/base.html' %}
{% block main-content %}
 <h1>
  {% for i in profile %}
  {{i.user.first_name}}
  {% endfor %}

  {% comment %} {% for i in user %}
{{i.user.first_name}}
{% endfor %}  {% endcomment %}
 </h1>

<div class="table-responsive">
<table class="table ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Mobile No</th>
        <th scope="col">Refferal Code</th>
        <td scope="col">Refer By</td>
        
      </tr>
    </thead>
    <tbody>
        {% for i in profile %}
      <tr>
        
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.user.first_name}}</td>
        <td>{{i.mobile}}</td>
        <td>{{i.referral_id}}</td>
        <td>{{i.refer_by}}</td>
        
        
    </tr>
    {% endfor %}
     
    </tbody>
  </table>
</div>
{% endblock main-content %}