{% extends 'Base/base.html' %}
{% block main-content %}
<center>
    <h1>Recharge</h1>
</center>
<div class="table-responsive">
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">Mobile Number</th>
        <th scope="col">UPI Number</th>
        <th scope="col">Amount</th>
        <th scope="col">Utr</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        
        
      </tr>
    </thead>
    <tbody>
        {% for i in recharge  %}
      <tr>
        
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.user.user.first_name}}</td>
        <td>{{i.user.mobile}}</td>
        <td>{{i.upi_id}}</td>
        <td>{{i.amount}}</td>
        <td>{{i.utr}}</td>
        <td>{{i.date}}</td>
        {% comment %} <td></td> {% endcomment %}
        {% if i.recharge_request == "Pending" %}
        <td><a href="{% url 'recharge_status' i.id %}"><span class="label-success label label-default"><button class="btn-success no-border">Accept</button></span></a> <a href="{% url 'recharge_rejected' i.id%}"><span class="label-danger label label-default pull-right"><button class="btn-danger no-border">Reject</button></span></a>
        {% elif i.recharge_request == "Accept" %}
        <td><span class="label-success label label-default" disabled>Accept</span></td>
        {% comment %} <span class="label-success label label-default">Accepted</span> {% endcomment %}
        {% else %} 
        <td><span class="label-danger label label-default" disabled>Reject</span></td>
        {% endif %}            
        
        
    </tr>
    {% endfor %}
     
    </tbody>
  </table>
</div>
{% endblock main-content %}